# main modules
django >4.2,<4.3
pillow
djangorestframework

# database modules
psycopg[binary]
faker

# third party modules
python-decouple
django-debug-toolbar
requests


# background proccess and cache
celery
django-redis
django-celery-beat
redis

# other payment gateways
az-iranian-bank-gateways

# deployment module
gunicorn