# main modules
django >4.2,<4.3
pillow


# database modules
psycopg[binary]
faker

# third party modules
python-decouple
django-debug-toolbar


# background proccess and cache
celery
django-redis
django-celery-beat
redis