# main modules
django >4.2,<4.3



# database modules
psycopg[binary]


# third party modules
python-decouple
django-debug-toolbar


# background proccess and cache
celery
django-redis
django-celery-beat
redis